*{
    margin: 0;
    padding: 0;
}
.body{
    width:100vw;
}
::selection{
    color:beige;
    background-color:lightsalmon;
}
input[type='button']{
    padding:5px;
    min-width:40px;
    border-radius:25px;
    border-style:solid;
    border-color:#c56200;

}
input[value='On']{
    background-color:hsl(134, 61%, 42%);
    
}
input[value='Off']{
    background-color:hsl(0, 61%, 42%);
}

header {
    display:grid;
    grid-template-columns:10% 90%;
    height:10vh;
    background-color:beige;
    color:orange;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-shadow:2px 2px 5px lightsalmon;
    justify-content: space-around;


}
.logo-container{
    margin-left:5px;
    height:10vh;
    width:10vh;
}
.logo{
    height:10vh;
    border-radius:50%;
    box-shadow:2px 2px 5px lightsalmon
}
.main-body{
    width:auto;
    height:80vh;
    background-color: #c56200;
    color:beige;
    font-size:18px;
    border-top:2px solid lightsalmon;
}
.temperature, .soilMoisture, .fanSpeed, .lighting {
    height:20vh;
    border:1px solid white;
}
table{
    font-size:small;
    height:70%;
    margin:auto
}
table,td {
    border:2px solid beige;
    border-collapse: collapse;
    padding:0px 2px;
    box-shadow:3px 3px 5px lightsalmon
}
td{
    min-width:70px;
    text-align: center;
}
.temperature td:nth-child(1)
{
    width:100px;
}
.main-body td:nth-child(1):hover
{
    color: #c56200;
    background-color:lightsalmon;

}

ul { margin :0;
    height:80vh;
    background-color:hsl(67, 63%, 81%);
}

footer{
    display:grid;
    height:12vh;
    grid-template-columns: 33% 33% 33%;
    background-color:orange;
    color:beige;
    align-items:center;
    justify-items:center;
    border:1px solid grey;
}

p {
    height:fit-content;
    width:fit-content;
    justify-self:center;
    

}

input[type='range']{
    accent-color:hsl(0, 63%, 46%)
}
input[type='range']:hover{
    accent-color:hsl(226, 63%, 46%)
}
input[type='range']:active{
    accent-color:hsl(46, 63%, 46%)
}

/* .fan-speed-slider {
  width: 300px;
}


.fan-speed-slider input[type="range"] {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  background-color: #8cd840;
  -webkit-appearance: none;
}

.fan-speed-slider input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  background-color: #bf4a17;
  cursor: pointer;
}

.fan-speed-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ce1d1d;
  cursor: pointer;
}

.fan-speed-slider #fan-speed-value {
  font-size: 18px;
} */
.fan-animation{
    float:right;
    animation: fan-rotate 1s infinite;
}

@keyframes fan-rotate {
    0% {transform:rotate(0deg);}
    12.5%{transform:rotate(45deg);}
    25% {transform:rotate(90deg);}
    37.5%{transform:rotate(135deg);}
    50% {transform:rotate(180deg);}
    62.5%{transform:rotate(225deg);}
    75% {transform:rotate(270deg);}
    87.5%{transform:rotate(325deg);}
    100% {transform:rotate(360deg);}
}
